<section class="card">
  <header id="{{id}}">
    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    <button name="delete-{{id}}" class="delete-post-btn btn btn-primary" type="button" style="background-color: red;">Delete</button>
    <button name="update-{{id}}" class="update-post-btn btn btn-primary" type="button" style="background-color: gray;">Update</button>
  </header>

</section>
