<section class="card">
  <header id="{{id}}">
    <a href="/post/{{id}}"><h2>{{title}}</h2></a>
    <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
    <button class="delete-post-btn btn btn-primary" type="button" style="background-color: red;">Delete</button>
  </header>

</section>
